:root {
  --strongCyan: hsl(172, 67%, 45%);
  --veryDarkCyan: #00474b;
  --darkGrayishCyan: hsl(186, 14%, 43%);
  --darkGrayishCyan2: hsl(184, 14%, 56%);
  --lightGrayishCyan: #c5e4e7;
  --lightGrayishCyan2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
  width: 100%;

}

body {
  background-color: var(--lightGrayishCyan);
  font-family: 'Bai Jamjuree',
    sans-serif;
  font-family: 'Be Vietnam Pro',
    sans-serif;
  font-family: 'Comfortaa',
    cursive;
  font-family: 'Kumbh Sans',
    sans-serif;
  font-family: 'Roboto',
    sans-serif;
  font-family: 'Space Mono',
    monospace;

}

a {
  text-decoration: none;
  color: #a2b7b7;
  /* font-size: 24px; */
}

a:hover {
  color: #00474b;
}

.bi {
  color: #a0bdbf;
}

.bi:hover {
  color: #00474b;
}

.calculator {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.card {
  width: 900px;
  margin-top: 150px;
  padding: 40px;
  border-radius: 20px;
}

.card-flex {
  display: flex;
  column-gap: 40px;
}

/* Card Left Side  */
.bill-input {
  width: 300px;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: #f3f8fb;
}

.tips {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.tip-btn {
  border: none;
  border-radius: 5px;
  background-color: var(--veryDarkCyan);
  padding-left: 15px;
  padding-right: 15px;
  width: 100px;
}

.tip-btn:hover {
  background-color: var(--strongCyan);
}

.tip {
  color: var(--white);
}

.custom-btn {
  border: none;
  background-color: #f3f8fb;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100px;
}

.people-btn {
  width: 300px;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: #f3f8fb;
}

/* Card Right Side  */
.right {
  background-color: var(--veryDarkCyan);
  width: 100%;
  border-radius: 15px;
  padding: 30px;
}

small {
  color: var(--lightGrayishCyan);
}

.tip-amount {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.tip-total {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.reset-btn {
  text-align: center;
}

.reset {
  width: 300px;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #055d61;
  background-color: #0d686d;
  border: none;
  font-weight: 700;
}

.reset:hover {
  background-color: var(--strongCyan);
}

.amount-number {
  font-size: 40px;
  color: var(--strongCyan);
}

.total-number {
  font-size: 40px;
  color: var(--strongCyan);
}